body {
      background: url(images/background.jpg) no-repeat center center fixed; 
      margin:0;
      background-size: cover;

}

ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
ul#tabs li { display: inline; }
ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }

div.body{
      position: absolute;
      margin-top: 373px;
      margin-left: 3%;
      width:70%;
      background-color: white;
      height: 150%;
}

p.body{
      text-align:left;
      margin-left: 135px;
      margin-right: 148px;
      font-size: 19px;
}

div.logo{
    float: right;
    position: absolute;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 135px;
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 73%;
}

div.tabContent {
    padding: 0.5em; 
    position: relative;
    float: right;
    background-color: black;
    width:100%;
    height:30px;
    margin-top:325px;
}

hr {
    margin-left: 135px;
    margin-right: 150px;
    height: 3;
    background-color: maroon;
}

h1.sections {
    color: maroon;
    font-family: cursive;
    text-align: left;
    font-size: 35px;
    margin-left: 135px;
    margin-right: 135px;
}

h2.logo {
    color: brown;
    font-family: fantasy;
    text-align: center;
    font-size: 26px;
    margin-top: 23px;
}
